:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
  --text-align-justify: justify;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

div {
  display: block;
}

.homepage-hero {
  text-align: center;
  background: var(--background-color);
  padding: 160px 20px;
}

h5 {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--secondary-color);
}

h5 {
  font-size: 36px;
}

h1 {
  font-size: 98px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.homepage-hero p {
  font-family: var(--secondary-font-family);
  font-size: 24px;
}

.btn-contact {
  display: inline-block;
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

.btn-contact:hover {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-about {
  display: inline-block;
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-about:hover {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

h2 {
  font-size: 64px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.project-info p {
  text-align: justify;
  line-height: 35px;
}

.dictionary-link,
.weather-link,
.yogurt-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px;
  text-decoration: none;
}

.about-me {
  background: #f9f7fe;
  border-radius: 100px;
  padding: 18px;
  font-family: var(--secondary-font-family);
}

.about-me h1 {
  font-family: var(--secondary-font-family);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  font-family: var(--secondary-font-family);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  line-height: 30px;
  font-family: var(--secondary-font-family);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--secondary-font-family);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  margin-top: 80px;
  font-family: var(--secondary-font-family);
}

#contact {
  background: #f9f7fe;
  border-radius: 100px;
  padding: 18px;
  font-family: var(--secondary-font-family);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: var(--secondary-font-family);
}

.email-link:hover {
  text-decoration: none;
}

.social-links {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 70px;
  }

  .homepage-hero {
    padding: 100px 20px;
  }

  .homepage-hero p {
    font-size: 22px;
  }
  h2 {
    font-size: 50px;
    text-align: center;
  }

  .first {
    padding: 20px;
    line-height: 30px;
  }

  .project-info p {
    text-align: justify;
    line-height: 35px;
    margin: 0 auto;
  }

  .links {
    text-align: center;
  }

  .about-me {
    background: #f9f7fe;
    border-radius: 100px;
    padding: 18px;
    margin: 18px;
  }

  .about-me h3 {
    margin: 20px;
  }
  .about-paragraphs p {
    margin: 10px;
    line-height: 35px;
    text-align: justify;
  }

  #contact {
    background: #f9f7fe;
    border-radius: 100px;
    margin: 18px;
    padding: 18px;
  }
}
