:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
}

div {
  display: block;
}

.homepage-hero {
  text-align: center;
  background: var(--background-color);
  padding: 160px 20px;
}

h5 {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--secondary-color);
}

h5 {
  font-size: 36px;
}

h1 {
  font-size: 98px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 24px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: var(--main-font-family);
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  color: var(--secondary-color);
}
