:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
  --text-align-justify: justify;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

div {
  display: block;
}

.homepage-hero {
  text-align: center;
  background: var(--background-color);
  padding: 160px 20px;
}

.homepage-hero p {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 24px;
}

h5 {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--secondary-color);
}

h5 {
  font-size: 36px;
}

h1 {
  font-size: 98px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.btn-contact {
  display: inline-block;
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

.btn-contact:hover {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-about {
  display: inline-block;
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

.btn-about:hover {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

h2 {
  font-size: 64px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.testimonial {
  font-family: var(--secondary-font-family);
  font-weight: 800;
}

.project-info p {
  text-align: justify;
  line-height: 35px;
}

.dictionary-link,
.weather-link,
.yogurt-link,
.project-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.about-me container {
  background: #f9f7fe;
  padding: 18px;
  font-family: var(--secondary-font-family);
}

.about-me h1 {
  font-family: var(--secondary-font-family);
}

.homepage container {
  max-width: 1250px;
  margin: 0 auto;
  font-family: var(--secondary-font-family);
}

.projects-page container {
  max-width: 1250px;
  margin: 0 auto;
  font-family: var(--secondary-font-family);
}

.projects-page img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.homepage img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.about-me img {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.contact-page container {
  max-width: 1250px;
  margin: 0 auto;
}

.content h3,
p {
  font-family: var(--main-font-family);
  text-align: start;
}

.content h3 {
  font-weight: bolder;
}

.content h1 {
  font-family: var(--secondary-font-family);
  text-align: start;
}

.projects-page h3,
p {
  font-family: var(--main-font-family);
}

.projects-page h3 {
  font-weight: bold;
  font-size: 24px;
}

.projects-page p {
  line-height: 1.2;
}

.head-title h1 {
  font-size: 60px;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  line-height: 35px;
  font-family: var(--secondary-font-family);
  text-align: justify;
}

.about-me img {
  border-radius: 20%;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--secondary-font-family);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  margin-top: 80px;
  font-family: var(--secondary-font-family);
}

#contact {
  padding: 18px;
  font-family: var(--secondary-font-family);
}

.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--secondary-font-family);
}

.email-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.social-links {
  text-align: center;
  font-size: 40px;
}

.social-links a {
  color: var(--primary-color);
}

.social-links a:hover {
  color: var(--secondary-color);
}

.navbar {
  font-family: var(--secondary-font-family);
}

.footer {
  margin: 60px 0;
}

.contact-box {
  background: #F9F7FE;
  padding: 30px 120px;
  border-radius: 20px;
}

.contact-box h4 {
  font-family: var(--secondary-font-family);
  font-weight: bolder;
  font-size: 48px;
}

.social-links a {
  margin: 0 20px;
  background: #f9f7fe;
  padding: 10px 22px;
  font-size: 40px;
  transition: all 200ms ease-in-out;
}

.social-links a:hover {
  background: var(--primary-color);
  color: #F9F7FE;
}

.source-code p {
  font-size: 16px;
  font-family: var(--main-font-family);
  font-weight: normal;
}

.certification-page h1 {
  font-family: var(--secondary-font-family);
  margin: 100px;
}

.certification container {
  max-width: 1250px;
  margin: 0 auto;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-overlay h3 {
  margin-top: 185px;
  font-size: 38px;
  font-weight: bolder;
}

@media (max-width: 960px) {
  h1 {
    font-size: 70px;
  }

  .homepage-hero {
    padding: 100px 20px;
  }

  .homepage-hero p {
    font-size: 22px;
    margin: 20px auto;
  }

  h2 {
    font-size: 50px;
    text-align: center;
  }

  .first {
    padding: 20px;
    line-height: 30px;
  }

  .project-info p {
    text-align: justify;
    line-height: 35px;
    margin: 0 auto;
  }

  .links {
    text-align: center;
  }

  .about-me container {
    background: #f9f7fe;
    border-radius: 100px;
    padding: 18px;
    margin: 18px;
  }

  .about-me h3 {
    margin: 20px;
  }

  .about-paragraphs p {
    margin: 0;
    line-height: 35px;
    text-align: justify;
    padding: 0;
  }

  #contact {
    margin: 14px;
    padding: 14px;
  }

  .email-link {
    font-size: 22px;
  }

  .social-links a {
    font-size: 30px;
  }

  .head-title h1 {
    font-size: 45px;
  }

  .content {
    padding: 30px;
  }

  .content h1 {
    font-size: 60px;
  }

  .contact-box {
    padding: 15px 60px;
  }

  .btn-contact {
    margin-top: 0;
    padding: 15px 25px;
    font-size: 12px;
  }

  .btn-about {
    font-size: 12px;
  }

  .contact-box h4 {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .homepage img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
}